STACK_VERSION=9.2.1
CLUSTER_NAME=elastic
LICENSE=basic
ES_MEM_LIMIT=16g
ES_PORT=9200
ES_CPU_LIMIT=8
KIBANA_PORT=5601
KB_MEM_LIMIT=4g
ENCRYPTION_KEY=WjccOVnjlNtZvKmG7EmJQKYO5j5IF1Le2/6Z3rYCEik=
ELASTIC_PASSWORD=f0YjoPbrkN0=
KIBANA_PASSWORD=f0YjoPbrkN0=
HOST_IP=172.16.5.100
FLEET_PORT=8220