STACK_VERSION=9.1.2
CLUSTER_NAME=elastic
LICENSE=basic
ES_MEM_LIMIT=12g
ES_PORT=9200
ES_CPU_LIMIT=4
KIBANA_PORT=5601
KB_MEM_LIMIT=4g
ENCRYPTION_KEY=changeme
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme
HOST_IP=192.168.15.5
FLEET_PORT=8220